.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px;
  background-color: @white;
  box-shadow: 0px 0px 10px 5px @shadow-navigation;
  z-index:10;
  position: relative;

  .divider {
    border-left: 1px solid @divider;
    height: 18px;
    margin: 2px 0px;
  }

  .logo {
    display: flex;
    flex-direction: row;
    &__image {
      width: 24px;
    }

    &__text {
      margin-left: 8px;
      font-weight: 700;
      font-size: 18px;
      
      position: relative;
      color: @dark-blue;

      &--subtitle {
        background-color: @light-blue;
        color: @white;
        font-weight: 700;
        font-size: 8px;
        padding: 1px 2px;
        position: absolute;
        top: 0;
        right: -24px;
        letter-spacing: normal;
        border-radius: 2px;
      }
    }
  }

  .options {
    display: flex;

    &__icon {
      color: @light-blue;
      height: 23px;
      margin: 0px 10px;
      cursor: pointer;

      &:hover {
        color: @dark-blue;
      }
    }

    &__account {
      display: flex;
      cursor: pointer;

      &__text {
        color: @blue;
        font-weight: 700;
      }

      &:hover span, &:hover svg {
        color: @dark-blue!important;
      }
    }
  }
}